/* Originally I was going to have them on separate html documents and css pages but then I just decided to use styles.css */

.home-main-section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.home-main-section .profile-img {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    max-width: 60%;
}

.home-main-section .self-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: flex;
    margin-top: 180px;
}

.home-main-section .cta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
    align-self: center;
}

@media (max-width: 900px) {
    .home-main-section .profile-img {
        display: none;
    }

    .home-main-section {
        justify-content: center;
    }
}