@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/* This style sheet is for shared styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #2F303A;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: white;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

/* Header Elements */

.header-icon {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 25px;
}

.header-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.header-logo-name {
    margin-left: 1rem;
    font-weight: bold;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 140px;
}

/* Navigation in Header */

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: #adadad;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

.home-main-section a:hover {
    background-color: #018f8f;
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: inherit;
    text-decoration: none;
    background-color: #24bebe;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    font-size: 0.9rem;
}

/* Skills Section */

ul.skills {
    position: relative;
    width: 450px;
    margin: 100px auto 0;
    padding: 10px;
    box-sizing: border-box;
}

ul.skills li {
    display: flex;
    background: rgba(255, 255, 255, .1);
    padding: 10px 20px;
    color: #fff;
    margin: 5px 0;
    transition: 0.5s;
}

ul.skills li:nth-child(1) {
    background: rgba(255, 255, 255, 0.6);
}

ul.skills li:nth-child(2) {
    background: rgba(255, 255, 255, 0.5);
}
ul.skills li:nth-child(3) {
    background: rgba(255, 255, 255, 0.4);
}
ul.skills li:nth-child(4) {
    background: rgba(255, 255, 255, 0.3);
}

ul.skills li span:nth-child(1) {
    width: 30px;
}

ul.skills li span:nth-child(1) {
    width: 200px;
}

ul.skills li span:nth-child(1) {
    width: 100px;
    text-align: right;
}

ul.skills li span:nth-child(1) {
    width: 70px;
    text-align: right;
}

ul.skills li:hover {
    transform: scale(1.06);
    background: #24bebe;
}