@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
/* This style sheet is for shared styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background: #2F303A;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: white;
    min-height: 100vh;
    --nav-height: 120px;
    padding-top: var(--nav-height);
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

/* Header & Navigation */

.header-icon {
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 25px;
}

.header-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
}

.header-logo-name {
    margin-left: 1rem;
    font-weight: 100;
}

.main-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; 
    height: var(--nav-height);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #54838f;
    align-items: center;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    padding-left: 2.5%;
    padding-right: 2.5%;
    z-index: 1;
}

.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-header a {
    color: #ffffff;
    text-decoration: none;
    transition: 3s;
}

.main-header a:hover {
    color: #ffd900;
    border-radius: 10px;
    transition: 0.33s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

nav.main-nav ul li {
    margin-left: 10px;
    margin-right: 10px;
}

/* Hero/CTA */

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 180px;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: inherit;
    text-decoration: none;
    background-color: #24bebe;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    font-size: 0.9rem;
    z-index: 5;
}

@keyframes purple-glow {
    0% {
      background-color: #692053;
      box-shadow: 0 0 3px #692053;
    }
    50% {
      background-color: #b35396;
      box-shadow: 0 0 10px #b35396;
    }
    100% {
      background-color: #692053;
      box-shadow: 0 0 3px #692053;
    }
  }
.btn.purple{
    animation: purple-glow 2500ms infinite;
}

@keyframes blue-glow {
    0% {
      background-color: #1c6d69;
      box-shadow: 0 0 3px #1c6d69;
    }
    50% {
      background-color: #00b6ad;
      box-shadow: 0 0 10px #00b6ad;
    }
    100% {
      background-color: #1c6d69;
      box-shadow: 0 0 3px #1c6d69;
    }
  }
.btn.cyan{
    animation: blue-glow 2500ms infinite;
}

.github-icon {
    align-content: left;
    max-width: 25%;
    height: auto;
    margin-top: 0px;
    padding: 0px 15px 0px 10px;
    z-index: 0;
}

.github-icon a:hover {
    /**/
}
/* Skills Section */

.skills-container {
    display: flex;
    flex-direction: row;
    align-content: left;
}

.skills {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    width: relative;
    padding: 10px 0px 10px 0;
    margin: 5px;
    box-sizing: border-box;
    z-index: 0;
}

.skills li {
    border-radius: 10px;
    display: flex;
    background: rgba(255, 255, 255, .1);
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    transition: 0.5s;
}

.skills li:nth-child(1) {
    background: rgba(255, 255, 255, 0.55);
}

.skills li:nth-child(2) {
    background: rgba(255, 255, 255, 0.45);
}

.skills li:nth-child(3) {
    background: rgba(255, 255, 255, 0.4);
}

.skills li:nth-child(4) {
    background: rgba(255, 255, 255, 0.35);
}

.skills li:nth-child(5) {
    background: rgba(255, 255, 255, 0.3);
}

.skills li:hover {
    transform: scale(1.06);
    background: #24bebe;
}

/* Projects Section */

.projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    transition: 0.5s;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    width: relative;
    padding: 10px auto;
    margin: 5px;
    box-sizing: border-box;
}

.projects li {
    border-radius: 10px;
    display: flex;
    background: rgba(255, 255, 255, .1);
    padding: 10px 20px;
    margin: 5px;
    color: #fff;
    transition: 0.5s;
}

.projects li:nth-child(1) {
    background: rgba(255, 255, 255, 0.55);
}

.projects li:nth-child(2) {
    background: rgba(255, 255, 255, 0.45);
}

.projects li:nth-child(3) {
    background: rgba(255, 255, 255, 0.4);
}

.projects li:nth-child(4) {
    background: rgba(255, 255, 255, 0.35);
}

.projects li:nth-child(5) {
    background: rgba(255, 255, 255, 0.3);
}

.projects li:hover {
    transform: scale(1.06);
    background: #24bebe;
}

.primary-project {
    border: 3px dashed #df7cc1;
    z-index: 0;
    border-radius: 10px;
    height: 33vh;
    width: 650px;
    margin: 8px;
}

.secondary-project {
    border: 3px dashed #df7cc1;
    z-index: 0;
    border-radius: 10px;
    height: 33vh;
    width: 33vh;
    margin: 8px;
}

.primary-project.run-buddy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0;
}

.secondary-project.ditto {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.project-text {
    padding: 6px 0 10px 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: left;
}

.project-text h3 {
    margin: 0;
    padding-left: 12px;
}

.project-text h4 {
    margin: 0;
    padding-left: 12px;
}

.run-buddy {
    background-image: url(images/run-buddy.png);
    background-size: cover;
    opacity: 0.6;
}

.ditto {
    background-image: url(images/portfolio.png);
    background-size: cover;
    opacity: 0.6;
}

.primary-project:hover {
    box-shadow: 0 0 16px #df7cc1;
    border: 3px solid #df7cc1;
    transition: 0.25s;
    opacity: 1;
}

.secondary-project:hover {
    box-shadow: 0 0 16px #df7cc1;
    border: 3px solid #df7cc1;
    transition: 0.35s;
    opacity: 1;
}

.no-dec {
    color: white;
    text-decoration: none;
}

/* About Me Section */

h4 {
    text-decoration: none;
    font-weight: normal;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND PHONES/TABLETS */
@media screen and (max-width: 950px) {
    body {
        --nav-height: 210px;
    }
    
    .title {
        margin-top: 250px;
        padding: 20px;
    }
}

@media screen and (max-width: 745px) {
    .title {
        margin-top: 250px;
        padding: 20px;
    }
    .primary-project {
        max-width: 50%;
    }
}

@media screen and (max-width: 575px) {
    .title {
        margin-top: 250px;
        padding: 20px;
    }

}
/* KEEP AT THE BOTTOM */
/* KEEP AT THE BOTTOM */